.notificATION{
    position: absolute;
    top: 20px;
    right: 10px;
    width: 300px;
    height: 50px;
    border-radius: 7px;
    background-color: #000;
    z-index: 14;
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       color: aliceblue;
       font-weight: 800;
    }
}
.cancel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    background-color: #281515;
    border: 1px solid #430606;
    h2{
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       color: rgba(251, 153, 153, 0.45);
       font-weight: 800;
    }
    h3{
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       color: rgba(202, 0, 0, 0.731);
       font-weight: 1000;
       font-size: 40px;
    }
}
.warning{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    background-color: #282515;
    border: 1px solid #cfbc12;
    h2{
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       color: rgba(251, 231, 153, 0.45);
       font-weight: 800;
    }
    h3{
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       color: rgba(202, 168, 0, 0.731);
       font-weight: 1000;
       font-size: 40px;
    }
}
.success{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    background-color: #121c13;
    border: 1px solid #0b4306;
    h2{
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       color: rgba(153, 251, 199, 0.45);
       font-weight: 800;
    }
    h3{
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       color: rgba(0, 202, 94, 0.731);
       font-weight: 1000;
       font-size: 40px;
    }
}