.NavBar{
    position: absolute;
    width: 90vw;
    height: 60px;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    .NavBarContainer{
        margin-top: 40px;
        padding: 0px 5px;
        border: 1px solid #dfdddd;
        border-radius: 20px;
        background-color: #404112;
        width: 50%;
        height: 100%;
        display: flex;
        .logoSection{
            flex: 0.5;
            overflow: hidden;
            img{
                width: 60px;
                height: 60px;
                border-radius: 10px;
            }
        }
        .NavigationSection{
            flex: 3 ;
            ul{ 
                list-style: none;
                display: flex;
                justify-content: center;
                gap: 50px;
                li{
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-size: 17px;
                    font-weight: 800;
                    color: #fff;
                    cursor: pointer;
                    &:hover{
                      background-color: #FEFFDD;
                    }
                }
            }
        }
        .callOfActionSection{
            flex: 1.5;
            display: flex;
            align-items: center;
            justify-content: center;
            .cia{
                width: 150px;
                height: 40px;
                border-radius: 20px;
                border: none;
                background-color: #F9CC0B;
                justify-content: center;
                align-items: center;
                display: flex;
                position: relative;
                box-shadow: 3px 3px 0px #FEFFDD;
                .theArrow{
                    position: absolute;
                    right: 2px;
                    padding: 6px 7px;
                    background-color: #FEFFDD;
                    border-radius: 50%;
                }
                h1{
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-size: 17px;
                    color: #404112;
                }
            }
        }
    }

}