.DisplayMenu{
    width: 100%;
    height: 100%;
    margin-top: -230px;
    .DisplayMenuContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .searchContainer{
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 20px;
            }
            .searchIdentifire{
              width: 150px;
              height: 35px;
              border-radius: 20px;
              border: 1px solid #32323275;
              display: flex;
              align-items: center;
              cursor: pointer;
              z-index: 4;
              p{
                padding-left: 10px;
                color: #868585ce;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
              }
            }
        }
        .menuContainer{
            width: 90%;
            display: flex;
            border-top: 1px solid #00000045;
            .menuOption{
                margin-top: 10px;
                flex: 1;
                border-right: 3px solid #0000002f;
                
                ul{ 
                    padding: 10px;
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    gap: 40px;
                    li{
                        border-radius: 20px;
                        padding: 8px 40px;
                        text-align: center;
                        background-color: #40411232;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        font-weight: 700;
                        color: #404112;
                    }
                }
                .drinkMenu{
                    border-top: 1px solid #000;
                }
            }
            .menuDisplayed{
                flex: 3;
                .menuDisplayedContainer{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    .DisplayingFood{
                        flex: 2;
                        width:650px;
                        height: 300px;
                        padding-top: 20px;
                        padding-bottom: 10px;
                        display: flex;
                        justify-content: space-between;
                        gap: 20px;
                        align-items: center;
                        padding-left: 10px;
                        overflow-y: hidden;
                        overflow-x: visible;
                        cursor: pointer;
                        &::-webkit-scrollbar{
                            width:1px;
                            height: 2px;
                        }
                        &::-webkit-scrollbar-track {
                           background: #40411229;
                        }
                        &::-webkit-scrollbar-thumb {
                          background: #404112;
                          border-radius: 10px;
                        }

                        .DisplayingFoodContainer{
                            width: 280px;
                            height: 100%;
                            border: 1px solid #00000063;
                            border-radius: 20px;
                            padding: 1px;
                            flex-shrink: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            img{
                                width: 100%;
                                height: 100%;
                                border-radius: 20px;
                            }
                            .theText{
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                padding-left: 10px;
                                padding-bottom: 5px;
                                color: #FFF;
                                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                z-index: 3;
                                h1{
                                    font-weight: 400;
                                }
                                p{
                                    margin-top: -20px;
                                    font-weight: 600;
                                    padding-left: 10px;
                                }
                                .addToCart{
                                    margin-top: -10px;
                                    font-weight: 400;
                                    padding-left: 10px;   
                                    display: flex;
                                    align-items: center;
                                    gap: 15px;
                                    border: none;
                                    background-color: transparent;
                                    color: #FFF;
                                }

                            }
                            .blackShadow{
                                position: absolute;
                                width: 280px;
                                height: 100%;
                                background: linear-gradient(180deg,transparent,#0000005f);
                                border-radius: 20px;
                                z-index: 2;
                            }
                        }
                        
                    }
                    .DisplayingDrinks{
                         flex: 2;
                        width:650px;
                        height: 300px;
                        display: flex;
                        justify-content: space-between;
                        gap: 20px;
                        align-items: center;
                        padding-left: 10px;
                        overflow-y: hidden;
                        overflow-x: visible;
                        cursor: pointer;
                        ::-webkit-scrollbar{
                            display: none;
                        }
                        .DisplayingFoodContainer{
                            width: 280px;
                            height: 90%;
                            border: 1px solid #00000063;
                            border-radius: 20px;
                            padding: 1px;
                            flex-shrink: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            img{
                                width: 100%;
                                height: 100%;
                                border-radius: 20px;
                            }
                            .theText{
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                padding-left: 10px;
                                padding-bottom: 5px;
                                color: #FFF;
                                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                z-index: 3;
                                h1{
                                    font-weight: 400;
                                }
                                p{
                                    margin-top: -20px;
                                    font-weight: 600;
                                    padding-left: 10px;
                                }
                                .addToCart{
                                    margin-top: -10px;
                                    font-weight: 400;
                                    padding-left: 10px;   
                                    display: flex;
                                    align-items: center;
                                    gap: 15px;
                                    border: none;
                                    background-color: transparent;
                                    color: #FFF;
                                }

                            }
                            .blackShadow{
                                position: absolute;
                                width: 280px;
                                height: 100%;
                                background: linear-gradient(180deg,transparent,#0000005f);
                                border-radius: 20px;
                                z-index: 2;
                            }
                        }
                    }
                }
            }
        }
    }
}