.signUp{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:url('../../assets/abstract-Picsart-AiImageEnhancer.jpg'),;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}