.sideRotateMenu{
    width: 100vw;
    height: 100vh;
    z-index: 2;
    .sideRotateMenuContainer{
        width: 100%;
        height: 100%;
        display: flex;
      
        .left{
            flex: 3;
            background-color: #FEFFDD;
            display: flex;
            align-items: center;
            justify-content: center;

            .leftContainer{
                width: 80%;
                height: 100%;
                padding-left: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h1{
                    font-size: 35px;
                    font-family: "Orbitron", sans-serif;
                    font-weight: 900;
                    font-style: normal;
                    color: #404112;
                }
                p{
                    font-size: 14px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    color: #404112c2;
                }
                .Explore{
                   margin-top: 20px;
                   border:1px solid #404112;
                   background-color: transparent;
                   padding: 10px 40px;
                   cursor: pointer;
                   transition: .3s ease-in-out;
                   &:hover{
                    transform: scale(1.06);
                    background-color: #404112;
                    color: #FEFFDD;
                   }
                }
            }
        }
        .right{
            position: relative;
            flex: 1.9;
            display: flex;
            background-color:#FEFFDD;
            color: #0f172a;
            overflow: hidden;
            ::-webkit-scrollbar{
                display: none;
            }
            .carouselContainer{
                position: absolute;
                top: 30px;
                right: -250px;
                width: 100%;
                height: 100%;
                .carousel{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                        img{
                            position: absolute;
                            width: 320px;
                            filter: drop-shadow(5px 5px 1px #0000001e);
                        }
                }
            }
        }
    }
}