   .featured{
    flex: 2;
    height: 420px;
    -webkit-box-shadow:2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: gray;
        padding: 0px 10px;
        .title{
            font-size: 16px;
            font-weight: 500;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        }
    }
    .bottom{
        padding: 0px 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        gap: 5px;
        .featuredChart{
            width: 130px;
            height: 130px;
        }
        .title{
            font-weight: 500;
            color: gray;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        }
        .amount{
            margin-top: -5px;
            font-size: 30px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        }
        .desc{
            
            font-weight: 300;
            font-size: 12px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: gray;
        }
        .summary{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .item{
                text-align: center;
                .itemTitle{
                    font-size: 14px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    color: gray;
                }
                .itemResult{
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    font-size: 14px;

                    &.postive{
                        color: green;
                    }
                    &.negative{
                        color: red;
                    }
                }
            }
        }
    }
   }